body{

    margin: 0px;
    padding: 0px;
}

.top-headings{

    background-color: rgb(246, 246, 255);
    height: 60px;
    width: 100%;
    display: flex;
    position: fixed;
}

.paras{

    display: flex;
    
}

.paras p{

    margin-left: 100px;
}

.list{

    margin-left: 350px;
   
}

.list a{
        display:flex;
        text-decoration: none;
        color: black;
        padding-left: 20px;

}

.list li{

    list-style-type: none;
    display: inline-block;
    text-align: end;

}

.logo img{

    height: 80px;
    width: 180px;
    margin-left: 180px;
    margin-top: 80px;
    
}

header{

    display: flex;
    /* margin-left: 60px;
    margin-top: 20px; */
}

header a{

   
    text-decoration: none;
    display: flex;
    display: inline;
    color: black;
    margin-top: 80px;
    
}

.headerlist{

    margin-left: 160px;
    margin-top: 110px;
    display: flex;
    gap: 20px;

}

.headerlist li{

    display: inline;
}

.icons i{

    margin-top: 110px;
    margin-left: 20px;

}

.icons{

    margin-left: 220px;
    
}

.banner{

    background-image: url(./img/img/bg-1.jpg);
    width: 100%;
    height: 500px;
    
}

.bannerimg img{

    height:500px;
    width: 600px;
    margin-left: 800px;
    margin-top: -1500px;
    padding-bottom: 15px;
}

/* .headings{
    margin-top: -420px;
    margin-left: 100px;
    color:black; */
    

.headings{
    margin-left:62px ;
}


.headings h2{

    font-size: 40px;
    color:black;
    /* margin-top: -400px; */
    /* margin-left: 10px; */
    margin-top: -20px;

    
}

.headings h3{

    font-size: 40px;
    color:black;
    /* margin-top: -200px; */
    /* margin-left: 160px; */
    margin-top: -30px;
    margin-left: 50px;
    
}

.headings h6{

        margin-left: 130px;
    font-size: 10px;
    margin-top: -400px
    
} 

.button{
    margin-left: 180px;
}

.button a{
    border: 1px solid #ff6666;
    text-decoration: none;
    padding: 12px;
    color: white;
    background-color: #ff6666;
    border-radius: 3px;
}

.featured{

    margin-top: 310px;
    margin-left:600px;
    font-size: 30px;
}

/* .products{

    display:flex;
    margin-left: 30px;

}

.productimages img{
    display: flex;
    margin-left: 30px;
} */

.cards{
    display: flex;
    margin-left: 200px;
    gap: 50px;
}

.card1 img{

    height: 400px;
}

.purses h4{

    margin-left: 80px;
}

.stars {

    margin-left: 90px;
    margin-top:  -15px;
}

.price{
    margin-left: 120px;
}

.OFF{

    background-color: #ffefcc;
    height: 300px;
    width: 100%;
    margin-top: 90px;
}

.OFF img{

    height: 300px;
    width: 500px;
    margin-left: 800px;
}

.collection{

    margin-top: -250px;
}

.collection h4{

    margin-left: 400px;
    font-size: 25px;
}

.collection h3{

    font-size: 20px;
    margin-left: 330px;
}

.collection a{
    text-decoration: none;
    margin-left: 410px;
    border: 1px solid lightslategray;
    color:black;
    background-color: white;
}

.most_popular h2{

    padding-top: 50px;
    font-size: 30px;
    text-align: center;
}

.popular{
    display: flex;
    padding-top: 40px;
    gap: 50px;
    margin-left: 150px;
}

.fonts{

    margin-left: 90px;
}

.fonts h5{

    margin-left: -20px;
    font-weight: normal;
}

.popularimages h5{

    margin-top: -0.1px;
}

.star {

    margin-left: -20px;
    margin-top: -14px;
}

.star1{

    margin-left: 70px;
    margin-top: -14px;
}

.bold{

    margin-left: 100px;
    margin-top: -10px;
}

.bold1{

    margin-left: 100px;
    margin-top: -18px;
}

.blocks{

    display: flex;
    gap: 20px;
    margin-left: 270px;
    margin-top: 60px;


}

.block{

    border: 2px solid rgb(196, 22, 22);
    padding: 15px;
    border-radius: 10px;
    
}

.block p{
    text-align: center;
}

.block img{

    margin-left: 80px;
}


.trending h2{

    text-align: center;
    margin-top: 50px;
}


.head_journal{

    text-align: center;
}
.journal{

    display: flex;
    gap: 20px;
    margin-left: 120px;
}

.journals{

    border: 2px hidden black;
    height: 550px;
}

.journals h4{
    font-size: 16px;
}

.journals p{
    font-size:20px;
    margin-top: -15px;
}

.journals img{

    width: 400px;
    border-radius: 10px;
}

.comment i{

    margin-left: 200px;
    
}

.cube i{
    margin-left: 10px;
    margin-top: 5px;

}

.follows{

    text-align: center;
    padding: 25px 20px;
    font-size: 35px;
}

.followus{

    display: flex;
    gap: 20px;
    margin-left: 170px;
}

.follow img{

    border-radius: 10px;
}

.footer{
    margin-top: 50px;
    background-color: black;
    width: 100%;
    height: 500px;
    display: flex;
    gap: 70px;
    
}

.about{

    color: rgb(161, 157, 157);
}

.about{

    margin-left: 150px;
    margin-top: 30px;
}

.apps{

    color: rgb(120, 120, 120);
    margin-top: 30px;
}

.apps img{

    border-radius: 5px;
}